<html>
<head>
<title>
rough2
</title>
</head>
<body ng-controller="account">
<br><br>
<div ng-hide="back" class="accountN">
<br><br><br><br><br><br><br><br>
<h3>you not registered sir....go to home page and sign in first.
You can even order food without signing in.</h3>

</div>
<div ng-hide="ahead">
<div class="container">
<div class="well well-sm">
<table class="table">
<thead>
<tr>
<th><b>Email</b></th>
<th><b>Address</b></th>
</tr>
</thead>
<tbody>
<tr>
<td>{{em}}</td>
<td>{{ad}}</td>
</tr>
<tr>
<td><button class="btn btn-success" data-toggle="modal" data-target="#mod" >change address</button></td>
<td><button class="btn btn-success" data-toggle="modal" data-target="#mod2" >change password</button></td>
</tr>
</tbody>
</table>
<!--modal-->
<div class="modal" id="mod">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
Enter Your New Address:
</div>
<div class="modal-body">
       <div class="form-group" ng-form name="myForm">
	   
	   <div class="row">
		<div class="col-md-2 col-sm-2 col-xs-2">
		<div class="dropdown">
               <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Noida
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                     <li>Noida</li>
                </ul>
         </div>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2 col-xs-offset-1">
		<div class="dropdown">
               <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{sector}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu sec">
                     <li ng-click="sectore(1)">Sec-58</li>
					 <li ng-click="sectore(2)">Sec-56</li>
                </ul>
         </div>
		</div>
		
		</div>
		<br>
		<input type="text" name="newAdd" ng-model="newarea" placeholder="Your address please.." class="form-control "   required/>
       <!--<textarea name="newAdd" class="form-control" ng-model="newarea" id="area" rows="5" placeholder="Currently services are available only in noida sector-62:)" required></textarea>
		<span ng-show="myForm.newAdd.$error.required"><h4 style="color:white">Required!</h4></span><br>-->
		</div>
       <button ng-click="update()" class="btn btn-default btn-sm btn-primary pull-right">Change</button><br><br>

</div>
<div class="modal-footer">
<button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!--modal2-->
<div class="modal" id="mod2">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
Change Password:
</div>
<div class="modal-body">
      <input type="password" class="form-control" placeholder="Your old password" ng-model="opass"/><br>
	  <input type="password" class="form-control" placeholder="Your new password" ng-model="npass"/><br>
	  <input type="password" class="form-control" placeholder="confirm new password" ng-model="n2pass"/>
       <button ng-click="update2()" class="btn btn-default btn-sm btn-primary pull-right">Change</button><br><br>

</div>
<div class="modal-footer">
<button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</body>
</html>
