<html>
<head>
<title>
contact us:)
</title>
</head>
<body ng-controller="help">
<br><br>
<div  class="need container">
<ul>
  <li><a ng-click="first('fir')"><b>About us</b></a></li>&nbsp&nbsp&nbsp
  <li><a ng-click="first('sec')"><b>Contact Us</b></a></li>&nbsp&nbsp&nbsp
  <li><a ng-click="first('thi')"><b>Feedback/Complaint</b></a></li>&nbsp&nbsp&nbsp
</ul>
<br><br><br><br>
<div class="about" id="fir">
<h1>About Us</h1>
<div class="well well-sm">
We Are Awesome!
<br><br><br><br><br>
Our first priority is the hygienic food for you--Every meal is cooked in our Kitchen With utmost importance to cleanliness and healthy food.
<br><br><br><br><br>
Quality:We use the ingredients of best quality as we care about your health.
<br><br><br><br><br>
Taste:Gaand Faad:)
</div>
<br><br>

<div class="about" id="sec">
<h1>Contact Us</h1>
<div class="well well-sm">
Contact no.---7838993341
</div>
<br><br>
<div class="about" id="thi">
<h1>Your Message</h1>
<div class="well well-sm">
email us at--shivamb61@gmail.com
</div>
</div>
</div>
</body>
</html>
