<html>
<head>
<title>
Order:)
</title>
</head>
<body ng-controller="order">
<br><br><br><br><br>
<div>
<div class="row">
<div class="col-md-12">
<div class="well well-lg brown">
<h4>Order Your Dream Thali</h4>
<br><br>
<div>
<ul ng-repeat="itemss in items">
<li class="thaliI">{{itemss}}</li>
</ul>
</div>
<br>
<div class="cost">
<strong class="thaliRate">Cost-Rs {{cost}}</strong>
</div>
<br>
<div class="thaliadd">
<button type="button" class="btn btn-default btn-sm" ng-click="thaliqty('sub')">
   <i class="fa fa-minus"></i>
</button>
{{qty}}
<button type="button" class="btn btn-default btn-sm" ng-click="thaliqty('add')">
  <i class="fa fa-plus"></i>
</button>
</div>
</div>
</div>
</div>
<br>
<div class="checkOut">
<i class="fa fa-arrow-circle-right"></i>
<!--<button class="btn btn-default btn-sm" ng-click="summary()">-->
<a href="#summary">
<i class="fa fa-child"></i>
Checkout
</a>
<!--</button>-->
<i class="fa fa-arrow-circle-right"></i>
</div>
<br>
<div class="row">
<div class="col-md-12 col-md-offset-0">
<div class="well well-sm pinkD">
<div class="pink">
<h4>Select Your Own Item</h4>
</div>

<div class="your row">
<div class="col-md-2 col-sm-2 col-xs-2">
<h6 class="thaliI">Items</h6>
<div ng-repeat="item in menu">
<span class="thaliI">{{item}}</span>
</div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
<h6 class="thaliI">Price</h6>
<div ng-repeat="price in menuPrice">
<span class="thaliI">{{price}}</span>
</div>
</div>
<div class="col-md-2 col-sm-2 col-xs-4">
<h6 class="thaliI">Quantity</h6>
<div ng-repeat="esp in special track by $index">
<span class="thaliI">
<button type="button" class="btn btn-default btn-xs" ng-click="degrade($index)" >
   <i class="fa fa-minus"></i>
</button>
{{esp}}
<button type="button" class="btn btn-default btn-xs" ng-click="upgrade($index)" >
  <i class="fa fa-plus"></i>
</button>

</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
