<html>
<head>
<title>
Order:)
</title>
</head>
<body ng-controller="order2">
<br><br><br><br><br>
<div class="checkOut">
<i class="fa fa-arrow-circle-right"></i>
<!--<button class="btn btn-default btn-sm" ng-click="summary()">-->
<a href="#summary">
<i class="fa fa-child"></i>
Checkout
</a>
<!--</button>-->
<i class="fa fa-arrow-circle-right"></i>
</div>
<br><br>
<div class="row">
<div class="col-md-12 col-md-offset-0">
<div class="well well-sm pinkD">
<div class="pink">
<h4>Windsor(w)</h4>
</div>





<div class="row">
<div class="col-md-3 col-sm-4 col-xs-6">
<span class="thaliI"><b>Item</b></span>
</div>
<div class="col-md-2 col-sm-2 col-xs-1 ">
<span class="thaliI"><b>Price</b></span>
</div>
<div class="col-md-2 col-sm-2 col-xs-4">
<span class="thaliI righty"><b>Quantity</b></span>
</div>
</div>



<div ng-repeat="union in first">
<div class="your row" ng-if="$index<=3">
<div class="col-md-3 col-sm-4 col-xs-6 itemn">
<span class="thaliI"><br>{{union.steyn}}</span>
</div>
<div class="col-md-2 col-sm-2 col-xs-1 itemn">
<span class="thaliI"><br>{{union.woakes}}</span>
</div>
<div class="col-md-2 col-sm-2 col-xs-4">

<span class="thaliI righty itemn">
<br>
<button type="button" class="btn btn-default btn-xs itemn" ng-click="degrade($index)" >
   <i class="fa fa-minus"></i>
</button>
{{union.lee}}
<button type="button" class="btn btn-default btn-xs itemn" ng-click="upgrade($index)" >
  <i class="fa fa-plus"></i>
</button>
</span>
</div>
<br>
</div>
</div>

</div>
</div>
</div>
<br><br><!-- 12 22  -->
<div class="row">
<div class="col-md-12 col-md-offset-0">
<div class="well well-sm pinkD">
<div class="pink">
<h4>12 22 (12)</h4>
</div>

<div class="row">
<div class="col-md-3 col-sm-4 col-xs-6">
<span class="thaliI"><b>Item</b></span>
</div>
<div class="col-md-2 col-sm-2 col-xs-1 ">
<span class="thaliI"><b>Price</b></span>
</div>
<div class="col-md-2 col-sm-2 col-xs-4">
<span class="thaliI righty"><b>Quantity</b></span>
</div>
</div>
<div ng-repeat="union2 in first ">
<div class="your row" ng-if="$index>3 && $index<6">
<div class="col-md-3 col-sm-4 col-xs-6 itemn">
<span class="thaliI"><br>{{union2.steyn}}</span>
</div>
<div class="col-md-2 col-sm-2 col-xs-1 itemn">
<span class="thaliI"><br>{{union2.woakes}}</span>
</div>
<div class="col-md-2 col-sm-2 col-xs-4 itemn">
<span class="thaliI righty"><br>
<button type="button" class="btn btn-default btn-xs itemn" ng-click="degrade($index)" >
   <i class="fa fa-minus"></i>
</button>
{{union2.lee}}
<button type="button" class="btn btn-default btn-xs itemn" ng-click="upgrade($index)" >
  <i class="fa fa-plus"></i>
</button>
</span>
</div>
<br>
</div>
</div>

</div>
</div>
</div>
</body>
</html>
