<html>
<head>
<title>
rough2
</title>
</head>
<body ng-controller="love">
<br><br><br><br>
<div class="homeClass">
<div class="tag">
<h2>"Home cooked Indian Meals at pocket friendly prices."</h2>
<a href="#order"><img src="images/order.png"/></a>
</div>
<div class="panel-heading">
<div class="row">
<div class="col-md-3 col-md-offset-3">
<a href="" class="ini" ng-click="change2()" id="register" ng-style="sign2">Sign-up</a>
</div>
<div class="col-md-3 col-md-offset-2">
<a href="" ng-click="change()" ng-style="log"  id="log">Sign-in</a>
</div>
</div>
<hr>
</div>
<br/>
<div  ng-hide="sign">
<div class="row">
<div class= "col-md-6 col-md-offset-3">
<div class="well well-sm " style="background:	#C0C0C0">
<div id="headsign">
<h4>Sign up</h4>

		<form name="frm" action="register.php" method="post">
		<input type="text" name="signname" placeholder="Your name please.." class="form-control " ng-model="name"  required/>
		<span ng-show="frm.signname.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<input type="text" name="username" placeholder="Uername.." class="form-control " ng-model="username"  required/>
		<span ng-show="frm.username.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<input type="email" name="signmail" placeholder="Your Email id please.." class="form-control" ng-model="email" required/>
		<span ng-show="frm.signmail.$error.required"><h6 style="color:red">Required!</h6></span>
		<span ng-show="frm.signmail.$error.email"><h6 style="color:red">Not an email.</h6></span>
		<br>
		<input type="password" name="signpass" placeholder="Create your password.." class="form-control" ng-model="password"  required/>
		<span ng-show="frm.signpass.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<label for="area">Address</label>
		<textarea name="address" class="form-control" ng-model="area" id="area" rows="5" placeholder="Currently services are available only in noida sector-62:)" required></textarea>
		<span ng-show="frm.address.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<button type="submit" class="btn btn-default btn-sm btn-danger pull-right">submit</button><br><br>
		</form>
</div>
</div>
</div>
</div>
</div>
<!--next-->

<div ng-hide="log2" class="row">
<div class= "col-md-6 col-md-offset-3">
<div class="well well-sm " style="background:	#C0C0C0">
<div id="headsign">
<h4>Log-in</h4>

		<form name="frm2" action="register2.php" method="post">
		
		
		<input type="email" name="signmail" placeholder="Your Email id please.." class="form-control" ng-model="email" required/>
		<span ng-show="frm2.signmail.$error.required"><h6 style="color:red">Required!</h6></span>
		<span ng-show="frm2.signmail.$error.email"><h6 style="color:red">Not an email.</h6></span>
		<br>
		<input type="password" name="signpass" placeholder="Your password.." class="form-control" ng-model="password"  required/>
		<span ng-show="frm2.signpass.$error.required"><h6 style="color:red">Required!</h6></span><br>
		
		<button type="submit" class="btn btn-default btn-sm btn-danger pull-right">submit</button><br><br>
		</form>
</div>
</div>
</div>
</div>
</div>

</body>
</html>