<html>
<head>
<title>
rough2
</title>
</head>
<body ng-controller="love">
<br><br><br><br>
<div class="homeClass">
<div class="tag">
<h2>"Home cooked Indian Meals at pocket friendly prices."</h2>
<a href="#order"><img src="images/order.png"/></a>
</div>
<div class="panel-heading" ng-hide="sign5">
<div class="row">
<div class="col-md-3 col-md-offset-3">
<a href="" class="ini" ng-click="change2()" id="register" ng-style="sign2">Sign-up</a>
</div>
<div class="col-md-3 col-md-offset-2">
<a href="" ng-click="change()" ng-style="log"  id="log">Sign-in</a>
</div>
</div>
<hr>
</div>
<br/>
<div  ng-hide="sign">
<div class="row">
<div class= "col-md-6 col-md-offset-3">
<div class="well well-sm " style="background:	#C0C0C0">
<div id="headsign">
<h4>Sign up</h4>

		<form name="frm" action="register.php" method="post">
		<input type="text" name="signname" placeholder="Your name please.." class="form-control " ng-model="name"  required/>
		<span ng-show="frm.signname.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<input type="text" name="username" placeholder="Uername.." class="form-control " ng-model="username"  required/>
		<span ng-show="frm.username.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<input type="email" name="signmail" placeholder="Your Email id please.." class="form-control" ng-model="email" required/>
		<span ng-show="frm.signmail.$error.required"><h6 style="color:red">Required!</h6></span>
		<span ng-show="frm.signmail.$error.email"><h6 style="color:red">Not an email.</h6></span>
		<br>
		<input type="password" name="signpass" placeholder="Create your password.." class="form-control" ng-model="password"  required/>
		<span ng-show="frm.signpass.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<label for="area">Address</label>
		<textarea name="address" class="form-control" ng-model="area" id="area" rows="5" placeholder="Currently services are available only in noida sector-62:)" required></textarea>
		<span ng-show="frm.address.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<button type="submit" class="btn btn-default btn-sm btn-danger pull-right">submit</button><br><br>
		</form>
</div>
</div>
</div>
</div>
</div>
<!--next-->

<div ng-hide="log2" class="row">
<div class= "col-md-6 col-md-offset-3">
<div class="well well-sm " style="background:	#C0C0C0">
<div id="headsign">
<h4>Log-in</h4>

		
		<input type="email" name="signmail2" placeholder="Your Email id please.." class="form-control" ng-model="email2" required/>
	<!--<span ng-show="frmm.signmail2.$error.required"><h6 style="color:red">Required!</h6></span>
		<span ng-show="frmm.signmail2.$error.email"><h6 style="color:red">Not an email.</h6></span>-->
		<br>
		<input type="password" name="signpass2" placeholder="Your password.." class="form-control" ng-model="password2"  required/><br>
		<!--<span ng-show="frmm.signpass2.$error.required"><h6 style="color:red">Required!</h6></span><br>-->
		<button  ng-click="submit()" class="btn btn-default btn-sm btn-danger pull-right">submit</button>
		<p class="forgot" data-toggle="modal" data-target="#mymodal">forgot password?</a>
		<br>
		<span>{{msg}}</span>

</div>
</div>
</div>
</div>
<!--modal-->
<div id="mymodal" class="modal">
<div class="modal-dialog">
<div class="modal-content">
<h4 class="modal-title">Forgot Password:</h4>
<div class="modal-header">
Your new password will be sent to your email id
</div>
<div class="modal-body" id="modaal">
<form action="forgot.php" method="post" name="forgot">
       <input type="email" name="forgotField" placeholder="Your Email id please.." class="form-control" ng-model="forgotpass" required/>
		<span ng-show="forgot.forgotField.$error.required"><h6 style="color:red">Required!</h6></span>
		<span ng-show="forgot.forgotField.$error.email"><h6 style="color:red">Not an email.</h6></span>
		<button type="submit" class="btn btn-default btn-sm btn-warning pull-right">Get your password</button><br><br>
</form>
</div>
<div class="modal-footer">
No worries we are here for you:)
<button name="close" class="btn btn-sm btn-danger pull-right" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!--logged-->
<div  ng-hide="log3" class="welcome">
<h2 id="mesg">Welcome - {{sir}}</h2><br><br>
<button  ng-click="logout()" class="btn btn-default btn-lg btn-danger ">logout</button>
</div>
</div>

</body>
</html>