
.navbar-nav{
	font-size:16px;
}
.nav{
	float:right;
}
#small{
	float:right;
	display: none;
}
@media (max-width: 768px) {
  nav ul     { display: none; }
  #small { display: inline-block; }
}
#small{
	margin-top:-40px;
}
.mainBody{ 
  background: url(images/french.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
	margin-top:60px;
}
.tag{
	padding: 60px 0px 90px 0px;
	text-align: center;
	color: white;
}
.tag  img {
	height:110px;
	width:230px;
}
.tag img:hover{
	height:113px;
	width:235px;
}
#headsign h4{
	color:white;
	text-align: center;
}
/*.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}*/
.panel-heading a.ini{
	color:green;
}
.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 17px;
	-webkit-transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	transition: color 0.5s linear;
}

.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 2px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0));
}
.welcome{
	
	text-align:center;
}
.welcome #mesg{
  margin-left:5%;
}
.forgot{
	font-family: Courier; color:red; font-size: 10px;
	}
.forgot:hover{
	cursor:pointer;
}
.modal-header{
	text-align:center;
	background-color:#808080;
}
.modal-footer{
	text-align:left;
		background-color:#808080;
}
.modal-body{
	background-image: url(images/daal.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.accountN{
	text-align:center;
	color:white;
}
.info{
	color:white;
}
#footer {
	padding: 60px 0px 90px 0px;
	text-align: center;
	color: #555;
}
