<html>
<head>
<title>
rough2
</title>
</head>
<body ng-controller="love">
<br><br><br><br>
<div class="homeClass">
<div class="tag">
<h2>"All your eating spots at one place"</h2>
<a href="#order"><img src="images/order.png"/></a>
</div>
<div class="panel-heading" ng-hide="sign5">
<div class="row">
<div class="col-md-1 col-md-offset-3 well well-sm opaque">
<a href="" class="ini" ng-click="change2()" id="register" ng-style="sign2">Sign-up</a>
</div>
<div class="col-md-1 col-md-offset-4 well well-sm opaque">
<a href="" ng-click="change()" ng-style="log"  id="log">Sign-in</a>
</div>
</div>
<hr>
</div>
<br/>
<div   ng-hide="sign">
<div class="row">
<div class= "col-md-6 col-md-offset-3">
<div class="well well-sm " style="background:	#C0C0C0">
<div id="headsign">
<h4>Sign up</h4>

		<form name="frm" action="register.php" method="post">
		<input type="text" name="signname" placeholder="Your name please.." class="form-control " ng-model="name"  required/>
		<span ng-show="frm.signname.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<input type="text" name="username" placeholder="Uername.." class="form-control " ng-model="username"  required/>
		<span ng-show="frm.username.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<input type="email" name="signmail" placeholder="Your Email id please.." class="form-control" ng-model="email" required/>
		<span ng-show="frm.signmail.$error.required"><h6 style="color:red">Required!</h6></span>
		<span ng-show="frm.signmail.$error.email"><h6 style="color:red">Not an email.</h6></span>
		<br>
		<input type="password" name="signpass" placeholder="Create your password.." class="form-control" ng-model="password"  required/>
		<span ng-show="frm.signpass.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<div class="row">
		<div class="col-md-2 col-sm-2 col-xs-2">
		<div class="dropdown">
               <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Noida
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                     <li>Noida</li>
                </ul>
         </div>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2 col-xs-offset-1">
		<div class="dropdown">
               <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{sector}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu sec">
                     <li ng-click="sectore(1)">Sec-58</li>
					 <li ng-click="sectore(2)">Sec-56</li>
                </ul>
         </div>
		</div>
		
		</div>
		<br>
		<input type="text" name="address" placeholder="Your address please.." class="form-control "   required/>
		<input type="hidden" name="sector" id="sector"/>
		<br>
		<button type="submit" class="btn btn-default btn-sm btn-danger pull-right">submit</button><br><br>
		</form>
</div>
</div>
</div>
</div>
</div>
<!--next-->

<div ng-hide="log2" class="row">
<div class= "col-md-6 col-md-offset-3">
<div class="well well-sm " style="background:	#C0C0C0">
<div id="headsign">
<h4>Log-in</h4>

		
		<input type="email" name="signmail2" placeholder="Your Email id please.." class="form-control" ng-model="email2" required/>
	<!--<span ng-show="frmm.signmail2.$error.required"><h6 style="color:red">Required!</h6></span>
		<span ng-show="frmm.signmail2.$error.email"><h6 style="color:red">Not an email.</h6></span>-->
		<br>
		<input type="password" name="signpass2" placeholder="Your password.." class="form-control" ng-model="password2"  required/><br>
		<!--<span ng-show="frmm.signpass2.$error.required"><h6 style="color:red">Required!</h6></span><br>-->
		<button  ng-click="submit()" class="btn btn-default btn-sm btn-danger pull-right">submit</button>
		<p class="forgot" data-toggle="modal" data-target="#mymodal">forgot password?</a>
		<br>
		<span>{{msg}}</span>

</div>
</div>
</div>
</div>
<!--modal-->
<div id="mymodal" class="modal">
<div class="modal-dialog">
<div class="modal-content">
<h4 class="modal-title">Forgot Password:</h4>
<div class="modal-header">
Your new password will be sent to your email id
</div>
<div class="modal-body" id="modaal">
<form action="forgot.php" method="post" name="forgot">
       <input type="email" name="forgotField" placeholder="Your Email id please.." class="form-control" ng-model="forgotpass" required/>
		<span ng-show="forgot.forgotField.$error.required"><h6 style="color:red">Required!</h6></span>
		<span ng-show="forgot.forgotField.$error.email"><h6 style="color:red">Not an email.</h6></span>
		<button type="submit" class="btn btn-default btn-sm btn-warning pull-right">Get your password</button><br><br>
</form>
</div>
<div class="modal-footer">
No worries we are here for you:)
<button name="close" class="btn btn-sm btn-danger pull-right" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!--logged-->
<div  ng-hide="log3" class="welcome">
<h2 id="mesg">Welcome - {{sir}}</h2><br><br>
<button  ng-click="logout()" class="btn btn-default btn-lg btn-danger ">logout</button>
</div>
</div>







 <div class="content-section-a">
         <div id="top-heading">
		 <h2>We currently provide food from</h2>
		 </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Tot mall</h2>
                    <p class="lead">We bring to you the food from tot mall from the bestsellers.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/what.gif" alt="">
                </div>
            </div>

        </div>
     

    </div>


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Windsor</h2>
                    <p class="lead">We bring to you the windsor food from vendors-----at minimal cost.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/pika.gif" alt="">
                </div>
            </div>

        </div>
       

    </div>


    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">12 22</h2>
                    <p class="lead">We bring to you the best of 12 22 from pappu brijwaasi and snacks from multiple vendors</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/shaggy.gif"  alt="">
                </div>
            </div>

        </div>
       

    </div>



</body>
</html>