<html>
<head>
<title>
summary
</title>
</head>
<body class="summ" ng-controller="summary">
<br><br><br><br><br>
<h3>{{msg}}</h3>
<div ng-hide="summor">
<h3 class="text-center">Your order summary</h3>
 <table class="table tabl">
      <tr>
      <th>Item</th>
	  <td>Thali</td>
	  <td ng-repeat="name in names">{{name}}</td>
      </tr>
      <tr>
       <th>Qty.</th>
       <td>{{thaliq}}</td>
	   <td ng-repeat="quant in stock track by $index">{{quant}}</td>
      </tr>
      <tr>
       <th>Price</th>
       <td>{{thalip}}</td>
	   <td ng-repeat="price in prices">{{price}}</td>
      </tr>
 </table>
 <div class="checkOut" ng-hide="final1" ><b>Total:</b>{{total}}
 &nbsp &nbsp &nbsp &nbsp &nbsp
 <input type="text" name="mobii" class="input-sm col-xs" placeholder="Enter your Mobile No." ng-model="mobii" maxlength="10"/>
 <i class="fa fa-mobile fa-lg"></i>
 <a href="#last" ng-class="{disabled:isDisable()}">
<i class="fa fa-child"></i>
Next
</a>
 </div>
 <div class="thaliI" ng-show="less">
 {{lessTotal}}
 </div>
 </div>
</body>
</html>
