
.navbar-nav{
	font-size:16px;
}
.nav{
	float:right;
}
#small{
	float:right;
	display: none;
}
@media (max-width: 768px) {
  nav ul     { display: none; }
  #small { display: inline-block; }
}
#small{
	margin-top:-40px;
}
.mainBody{ 
  background: url(images/french.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
	margin-top:60px;
}
.tag{
	padding: 60px 0px 90px 0px;
	text-align: center;
	color: white;
}
.tag  img {
	height:110px;
	width:230px;
}
.tag img:hover{
	height:113px;
	width:235px;
}
#footer {
	padding: 60px 0px 90px 0px;
	text-align: center;
	color: #555;
}
